<%= render 'posts/post', post: @post %>
<div class="columns">
  <div class="column"></div>
  <div class="column is-10">
    <p class="title has-text-dark is-5">
      Comments
    </p>
    <% @comments.each do |comment| %>
      <div class="box">
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <p class="image is-64x64">
                <%= image_tag comment.user.profile_picture_url(:thumb).to_s %>
              </p>
            </div>
            <div class="level-item">
              <%= render "comments/heading", comment: comment %>
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <p class="content">
          <%= comment.content %>
        </p>
      </div>
    <% end %>
    </div>
  </div>
