  <%= render 'posts/post', post: @post %>
  <p class="title has-text-dark is-5">
    Liked by
  <div class="columns is-multiline is-mobile">
    <% @post.likes.each do |like| %>
      <div class="column is-one-third-mobile is-one-third-tablet is-one-quarter-desktop">
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <p class="image is-32x32">
                <%= image_tag like.user.profile_picture_url(:thumb).to_s %>
              </p>
            </div>
            <div class="level-item">
              <%= link_to like.user.name, user_path(like.user) %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
