<aside class="menu">
  <p class="menu-label">Friends</p>
  <ul class="menu-list">
    <% current_user.friends.each do |friend| %>
      <li><%= link_to friend.name, user_path(friend), class: 'has-text-link' %></li>
    <% end %>
  </ul>
</aside>
